@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DMSans";
    src: url("./assets/fonts/DMSans/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "DMSans";
    src: url("./assets/fonts/DMSans/DMSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Dolmen";
    src: url("./assets/fonts/Dolmen/Dolmen-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}
